//- SLAID-BLOCK № 3
section.block_3
    .left-menu
        .block_3-appetisers
            h2 Appetisers
            img(src="image/decoration_blocks_2_5.png" alt="Decoration" class="decoration")
            
            .block_3-menu-item
                article
                    h3 Tzatsiki
                    span.price $3.99
                    .line
                    p Refreshing traditional cucumber and garlic yoghurt dip

            .block_3-menu-item
                article
                    h3 Aubergine Salad
                    span.price $5.50
                    .line
                    p .Pureed eggplant, garlic, green pepper and tomato dip.

            .block_3-menu-item
                article
                    h3 Aubergine Salad
                    span.price $5.25
                    .line
                    p Pureed eggplant, garlic, green pepper and tomato dip.


        .block_3-salads
            h2 Salads
            img(src="image/decoration_blocks_2_5.png"  class="decoration" alt="Decoration")

            .block_3-menu-item
                article
                    h3  Olive Special
                    span.price $5.99
                    .line
                    p Refreshing traditional cucumber and garlic yoghurt dip.


            .special 
                span.special-span Special
            .block_3-menu-item-special
                article
                    h3 Greek Salad
                    span.price $5.50
                    .line
                    p .Pureed eggplant, garlic, green pepper and tomato dip.

            .block_3-menu-item
                article
                    h3 Gusto Salad
                    span.price $5.25
                    .line
                    p Pureed eggplant, garlic, green pepper and tomato dip.
            
    .right-menu
        .block_3-starters
            h2 Startes
            .decoration
                img(src="image/decoration_blocks_2_5.png" class="decoration" alt="Decoration")

            .block_3-menu-item
                article
                    h3 Haloumi
                    span.price $3.99
                    .line
                    p Refreshing traditional cucumber and garlic yoghurt dip.
            .block_3-menu-item
                article
                    h3 Spinach Pie
                    span.price $5.50
                    .line
                    p .Pureed eggplant, garlic, green pepper and tomato dip.

        .block_3-main-dishes
            h2 Main Dishes
            img(src="image/decoration_blocks_2_5.png" class="decoration" alt="Decoration")
            
            .block_3-menu-item
                article
                    h3 Cornish Mackerel
                    span.price $5.99
                    .line
                    p Refreshing traditional cucumber and garlic yoghurt dip.
            
            .special 
                span.special-span Special
            .block_3-menu-item-special
                article
                    h3 Roast lamb
                    span.price $5.50
                    .line
                    p .Pureed eggplant, garlic, green pepper and tomato dip.

            .block_3-menu-item
                article
                    h3 Fried Chicken
                    span.price $5.25
                    .line
                    p Pureed eggplant, garlic, green pepper and tomato dip.
            .block_3-menu-item
                article
                    h3 Pastisio
                    span.price $5.99
                    .line
                    p Refreshing traditional cucumber and garlic yoghurt dip.




    


    

